<a href="https://colab.research.google.com/github/swastikkmaurya/practical2/blob/main/Experiment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#swastik
# PRN:25070123114
#Exp2 : Study of list in python
list1 = ["Apple","Orange","Banana"]
print(list1)

['Apple', 'Orange', 'Banana']

In [ ]:
list2=[2,2.5,"Apple",True]
print(list2)

[2, 2.5, 'Apple', True]

In [ ]:
list3=["Apple","Banana","Cherry","Orange","Kiwi","Mango"]
print(list3[3])
print(list3[-3])
print(list3[2:5])
print(list3[:5])
print(list3[2:])
print(len(list3))

Orange
Orange
['Cherry', 'Orange', 'Kiwi']
['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi']
['Cherry', 'Orange', 'Kiwi', 'Mango']
6

In [ ]:
list4=["Apple","Orange","Cherry"]
list4[1]="Mango"
print(list4)

['Apple', 'Mango', 'Cherry']

In [ ]:
list5=["Apple","Orange","Cherry"]
list5.append("Mango")
print(list5)

['Apple', 'Orange', 'Cherry', 'Mango']

In [ ]:
list6=["apple","orange","Cherry"]
list6.insert(1,"mango")
print(list6)

['apple', 'mango', 'orange', 'Cherry']

In [ ]:
list7=["Apple","Banana","Orange"]
list8=["Kiwi","Mango","cherry"]
list7.extend(list8)
print(list7)

['Apple', 'Banana', 'Orange', 'Kiwi', 'Mango', 'cherry']

In [ ]:
list9=["Apple","Orange","apple","Cherry"]
list9.remove("Orange")
print(list9)

In [ ]:
marks = [78,98,90,66,88]
print("The maximum number is : ",max(marks))
print("The minimum number is : ",min(marks))
print("The Total of all numbers is : ",sum(marks))
print("The average Mark is : ",sum(marks)/len(marks))
print("The Number of Students : ",len(marks))
print("The sorted list is : ",sorted(marks))
marks.sort()
print(marks)

The maximum number is :  98
The minimum number is :  66
The Total of all numbers is :  420
The average Mark is :  84.0
The Number of Students :  5
The sorted list is :  [66, 78, 88, 90, 98]
[66, 78, 88, 90, 98]